<br>
<b><i><a href="http://www.joshuawise.com">Joshua Wise</a>, 2016</i></b><br>
<br>

<small><i>No, I have not gotten food poisoning yet.  <a
href="https://en.wikipedia.org/wiki/Warrant_canary">Check back in 24
hours.</a></i></small>
<br>
<br>
</center>
<script type="text/javascript" src="retina.js"></script>
</body>
</html>
