<html>
<!-- Excuse my crappy HTML. -->
<head>
<title>Yogurt</title>
<link rel="stylesheet" href="lightbox.css" type="text/css" />
</head>
<body bgcolor="#000000" text="#FFFFFF" link="#8888FF" alink="#FF8888" vlink="#FF88FF">
<center>
<br>
<b><i>On making homemade yogurt</i></b><br>
<br>
<div class="words">

I eat yogurt. <br> <br>

No, like, I eat a <i>lot</i> of yogurt.  Enough yogurt that I'd certainly
consider myself to be a yogurt aficionado.  I have graduated from Yoplait --
long since.  The next stop for many is <a
href="http://www.chobani.com">Chobani</a>, the fat-free, watery mess that it
is.  I've graduated from that, too.  I liked <a
href="http://usa.fage.eu">Fage</a> yogurt for a while, until it got
difficult to find full-fat flavored Fage -- there were too many options on
the shelf and it just took too much time to find the ones I wanted.  A year
or so ago, I discovered that I enjoyed of <a
href="http://www.noosayoghurt.com">Noosa</a>, &quot;Australian-style
yoghurt&quot;, which comes in delightful 200kcal-ish tubs, and seems to
be just the right consistency to make me happy.  And, the only variance of
Noosa tubs is in flavor; they're all the same yogurt base. <br> <br>

But recently, I've moved along again, to a new type of yogurt.  A few months
ago, I found <a href="http://siggisdairy.com">Siggi's</a> Icelandic-style <a
href="https://en.wikipedia.org/wiki/Skyr">Skyr</a>.  I've been eating the
nice little 110kcal tubs as a nice compliment to breakfast and dinner. 
They're expensive -- around $1.69 for a tub.  But, it's very tasty, and it
doesn't have all the sugar that Noosa has (the vanilla type has only 9g of
sugar).  To be honest, I think it's my new yogurt of preference.  <br> <br>

But now, I think it might be time to take it one step further.  If buying
yogurt is good, then how hard can it be to <i>make</i> yogurt?  People seem
to do it; could I come up with a reproducible recipe, and use science on it?
<br> <br>

The following is how I did it.  The results were good!

</div><br>
<br>
<b>April 2016</b><br>
<b><a href="mailto:joshua at joshua wise dot com">Joshua Wise</a>;
<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA
3.0</a></b><br>
<br>
(click for big)
<br>
<br>